{% layout "./html.liquid" %}

{% block head %}
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
  <meta name="theme-color" content="#bb00e5">
  {{ block.super }}
{% endblock head %}


{% block body %}
  <header>
    {%  render 'logo-lockup.liquid' %}
  </header>
  <main>
    {{ content | raw }}
  </main>
  {% render 'shared-svg-defs.liquid' %}
{% endblock content %}
